*.aux
*.out
*.log
*.synctex.gz
*.fls
*.fdb_latexmk

**/*.toolbox/*_SnapShot_*/
**/*.toolbox/*_SnapShot_*.launch
**/*.toolbox/*___*.launch
**/*.toolbox/MC.out
**/*.toolbox/MC_TE.out
**/*.toolbox/**/*.tla
